@model Democracy.Models.GroupDetailView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Add Member", "AddMember", new { groupId = Model.GroupId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-success" })
</p>

<h3>Members.</h3>
@if (Model.Members.Count == 0)
{
    <h4>Not member added yet.</h4>
}
else
{
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Members[0].User.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Members[0].User.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Members[0].User.Photo)
        </th>
        <th></th>
    </tr>

    @for (int i = 0; i < Model.Members.Count; i++)
    {
     <tr>              
        <td>
            @Html.DisplayFor(modelItem => Model.Members[i].User.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Members[i].User.FullName)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(Model.Members[i].User.Photo))
            {
            <img src="@Url.Content(Model.Members[i].User.Photo)" alt="Image" style="width:100px; height:100px; max-width:100%; height:auto" />
            }

        </td>
        <td>
            @Html.ActionLink("Delete", "DeleteMember", new { id = Model.Members[i].GroupMemberId }, new { @class = "btn btn-danger", onClick ="return confirm('¿Are you sure to Delete this member.?')"})
        </td>
    </tr>
    }

</table>
}
